<div class="card-movie">
    <div class="cover-area" (click)="gotoDetail(data.id)">
        <div class="backdrop" style="background-image: url('https://image.tmdb.org/t/p/original{{data.poster_path}}')"></div>
        <div class="rate" title="Avaliação geral">{{data.vote_average | number: '1.0-0'}}</div>
    </div>
    <div class="info-area">
        <div class="title">{{data.title}}</div>
        <div class="release">Lançamento: {{data.release_date | date: "dd/MM/YYYY"}}</div>
        <div class="about">{{data.overview}}</div>
    </div>
</div>
