@import '../../../assets/variables';

.card-movie {
    max-width: 220px;
    &:hover {
        .cover-area .backdrop {
            transform: scale(1.05);
            opacity: 0.4;
        }
    }

    .cover-area {
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;

        .backdrop {
            height: 300px;
            width: 100%;
            border-radius: 15px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all .2s linear;
        }

        .rate {
            border-radius: 20px;
            background-color: $light_gold;
            color: $dark_gold;
            padding: 5px 15px;
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: -20px;
        }
    }

    .info-area {
        .title {
            color: $light_blue_1;
            font-size: 20px;
            margin-bottom: 15px;
            min-height: 60px;
        }

        .release {
            margin-bottom: 10px;
        }

        .about {
            font-size: 13px;
            max-height: 65px;
            position: relative;
            overflow: hidden;

            &:before {
                content: '[...]';
                position: absolute;
                display: block;
                background-color: #0d1a3c;
                color: white;
                bottom: 0;
                right: 0;
                font-size: 15px;
                text-align: center;
                height: 20px;
                width: 42px;
            }
        }
    }
}