<app-main-header></app-main-header>
<main id="home-page">
    <section id="now-playing">
        <h2>Em cartaz</h2>
    
        <ngx-slick-carousel class="movie-list" #eventsModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let item of nowPlayingList">
                <div class="movie-item">
                    <app-card-movie [data]="item"></app-card-movie>
                </div>
            </div>
        </ngx-slick-carousel>
    </section>
    <section id="up-coming">
        <h2>Próximos Lançamentos</h2>
        <ngx-slick-carousel class="movie-list" #eventsModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let item of upComingList">
                <div class="movie-item">
                    <app-card-movie [data]="item"></app-card-movie>
                </div>
            </div>
        </ngx-slick-carousel>
    </section>
</main>