@import '../../../assets/variables';

section {
    padding: 20px 50px;
    background: linear-gradient(180deg, rgba(13,26,60,1) 0%, rgba(11,18,37,1) 51%);

    h2 {
        @include subtitle;
    }

    .movie-list {
        list-style: none;
        text-decoration: none;
    }

    .movie-item {
        display: inline-block;
        vertical-align: top;
        margin: 20px;
        color: white;
    }
}