//Fonts
$primary_font: "Montserrat", sans-serif;

//Colors
$dark_blue_1: #03143e;
$dark_blue_2: #2d406f;
$light_blue_1: #51bfff;

$dark_gold: #5e4711;
$light_gold: gold;

@mixin subtitle {
    margin: 0 0 20px 0;
    font-weight: 300;
    border-bottom: 5px solid #ff4040;
    display: inline-block;
    padding-right: 30px;
}
