@import "../../../assets/variables";

header {
    padding: 15px 50px;

    .content {
        display: flex;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.411);
        padding-bottom: 20px;

        .right-content,
        .search-area {
            display: flex;
            align-content: center;
        }
    }
}

.site-title {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}

input {
    background-color: $dark_blue_2;
    border: 0;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    font-size: 18px;
    background-image: url("../../../assets/icon-search.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;

    &::placeholder {
        color: $light_blue_1;
    }
}

//Responsive
@media screen and (max-width: 480px) {
    input {
        font-size: 14px;
        max-width: 100px;
        font-weight: 400;
        background-image: none;
    }
}
